#snowfall{
	pointer-events:none;
	overflow:hidden;
}
#snowfall_foreground,
#snowfall_background{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:block;
}
#snowfall_foreground{z-index:9999;}
#snowfall_background{z-index:-1;}